* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*/ body {
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  height: 500px;
  background-color: #e59a5c;
  /* padding: 40px 36px 0 36px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  background-position: center;
  /* align-items: flex-end; */
}
/* 
.hero-image {
  padding: 40px 36px 0 36px;
  background: linear-gradient(rgba(0, 0, 0.2, 0.3), rgba(0, 0, 0.2, 0.3)),
    url(./images/slack-imgs.png);
  border: none;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
} */

/* this part is all about the text over the header image */
.hero-text {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
  letter-spacing: 0px;
  color: #6ba295;
  opacity: 1;
}

.title {
  font-size: 50px;
  font-family: Montserrat, Bold;
  font-weight: 600;
}
.definition {
  display: inline;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 0.52px;
  font-weight: 400;
}
.my-name {
  margin-left: 10px;
  font-weight: 800;
  color: #e59a5c;
}

/* styling three white social media icons on the hero image with circles around them*/
/*styling icons in the header start */

.icons-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 60px;
  /* align-items: flex-end; */
  /* padding-right: 60px; */
  /* flex-direction: row;
  justify-content: flex-end;
  padding-top: 110px; */
  /* padding-right: 20px; */
}

.icon-circle-header {
  display: inline-block;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid black;
  text-align: center;
  margin-right: 10px;
  background: transparent;
}

.social-media-images-1 {
  display: inline-block;
  width: 20px;
  height: auto;
  margin-top: 10px;
}
/* end of styling icons in the header*/

/* round profile image styling */
.profile-image {
  background: url("./images/smallerone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: -20px;
  display: flex;
  align-self: flex-end;
}

.section-header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background: #e59a5c;
  color: white;
  font-family: Montserrat, Bold;
  font-size: 23px;
  padding: 3px;
  width: fit-content;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .profile-image {
    background: url("./images/photoForTablet.jpg");
    width: 150px;
    height: 150px;
  }
  .hero-text {
    margin-top: 100px;
    margin-left: 170px;
  }
  .featured-projects-card {
    width: 48%;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 800) {
  .profile-image {
    background: url("./images/photoForDesktop.jpg");
    width: 210px;
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 900px) {
  .hero-text {
    margin-top: 100px;
    margin-left: 400px;
  }
}

/* .red-line {
  display: flex;
  align-items: center;
  padding: 20px;
  shape-outside: inset(50%);
} */
.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.plain-text {
  font-family: Montserrat, Regular;
  font-size: 17px;
}
.plain-text-bold {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-left: 3px;
}
.title-secondary {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #e59a5c;
}

.line {
  display: inline-block;
  width: 55px;
  height: 5px;
  border-top: 4px solid #e59a5c;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #e59a5c;
  background-color: #e59a5c;
  margin-right: 17px;
  margin-left: -1px;
  border-radius: 50%;
}

.portfolio-section {
  /* height: 300px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px 36px;
}
.colored-background {
  background-color: #e8f0f2;
  /* background-color: #f4f4f4; */
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.featured-projects-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  margin-bottom: 30px;
  /* max-width: 400px; */
}
.flex-images {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
h4 {
  font-weight: bold;
}
.highlighted {
  color: #6ba295;
}

.highlighted-bold {
  color: #6ba295;
  font-weight: bold;
  text-decoration: none;
}
.arrow-sign {
  color: #6ba295;
  font-weight: bold;
  margin-left: 10px;
}
/* more thoughts */
.more-thoughts-link {
  letter-spacing: 0.5px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
}
.thought {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
/* skills section */
.skills {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 17px;
}
.part {
  margin-right: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.part-last {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 20px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .skills {
    flex-wrap: nowrap;
  }
  .part-last {
    width: 100%;
    padding-top: 0px;
  }
  .part {
    margin-right: 0px;
    width: 100%;
  }
}
@media screen and (min-width: 2000px) {
  .hero-text {
    margin-left: 900px;
  }
}

/* styling three red social media icons on the hero image with circles around them*/
/*start of tyling icons in the For More section*/
.icons-page-end {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}
.social-media-round-end {
  display: inline-block;
  justify-content: flex-end;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 3px solid black;
  text-align: center;
  margin-right: 10px;
}

.social-media-images-2 {
  display: inline-block;
  width: 20px;
  height: auto;
  margin-top: 15px;
}
.icon-text {
  color: black;
  margin-top: 30px;
  width: 100%;
  font-size: 12px;
  font-family: Roboto, Bold;
  font-weight: 600;
}
.icons-end-text {
  color: #6ba295;
  margin-top: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-family: Roboto, Bold;
  font-weight: 600;
}
.third {
  margin-left: -20px;
}

/* Repositioning the icons in the For More section */
.icon-first {
  padding-left: 20px;
}
.icon-second {
  padding-left: 45px;
}
.icon-third {
  padding-left: 40px;
}

/* end of tyling icons in the For More section */

/* footer section with contact information */

.footer {
  text-align: center;
  color: white;
  background-color: #6ba295;
  /* background-color: #821752; */
  /* background-color: #64958f; */
  /* background-color: #ffbb91; */
  height: 230px;
  opacity: 1;
}

.footer-contact-title {
  font-size: 25px;
  font-family: Montserrat, Bold;
  padding-top: 60px;
}
.text-inside-footer {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding-top: 20px;
}
